.col {
    float: left;
    padding: 5px;
    flex: 33.33%;
    width: 50%;
    text-align: start;
    justify-content: space-between;
    position: relative;
    justify-content:space-between;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
    width: 45%;
    text-align: start;
    position: relative;
    
  }

  @media screen and (max-width: 850px) {
    .col {
      width: 100%;
    }
  }